{# Layout file for *raw components* #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title|default('Chewingum')}}</title>
	<meta content="telephone=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">

	<!-- style -->
	<link rel="stylesheet" type="text/css" href="{{root}}assets/style.css">
	<script src="{{root}}assets/jquery-2.2.3.min.js"></script>
</head>
<body>
{{content}}
	<script src="{{root}}assets/components.js"></script>
</body>
</html>
